aapg==2.4.2
Cerberus==1.3.7
certifi==2025.8.3
charset-normalizer==3.4.3
Click==7.0
coverage==7.6.1
csrbox @ file:///scratch/repos/RV32IMAFC/rv32imafcsu_upstream/c-class-unified-bootfile/c-class/csrbox
docutils==0.20.1
exceptiongroup==1.3.0
execnet==2.1.1
idna==3.10
iniconfig==2.1.0
jinja2==3.1.6
MarkupSafe==2.1.5
nh3==0.3.0
numpy==1.24.4
packaging==25.0
pathlib==1.0.1
pkginfo==1.12.1.2
pluggy==1.5.0
pygments==2.19.2
pytest==8.3.5
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-runner==6.0.1
pytest-xdist==3.6.1
pytz==2025.2
PyYAML==5.2
readme-renderer==43.0
repomanager==1.5.1
requests==2.32.4
requests-toolbelt==1.0.0
riscv-config @ file:///scratch/repos/RV32IMAFC/rv32imafcsu_upstream/c-class-unified-bootfile/c-class/riscv-config
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.8
six==1.17.0
soc-config==2.1.0
tomli==2.2.1
tqdm==4.67.1
twine==1.14.0
typing-extensions==4.13.2
urllib3==2.2.3
